.app{
    height: 100%;
    background: linear-gradient(to bottom, #a1cbe6, #fff);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.app .login-container{
    background: #fff;
    border-radius: 10px;
    width: 400px;
    height: 280px;
    padding: 20px;
    box-shadow: 0 10px 20px #ccc;

    display: flex;
    flex-direction: column;
}
.app .login-container h2{
    text-align: center;
}
.app .login-container .input-group{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.app .login-container .input-group img{
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.app .login-container .input-group .left-icon{
    left: 5px;
}
.app .login-container .input-group .right-icon{
    right: 5px;
    cursor: pointer;
}
.app .login-container .input-group input{
    width: 100%;
    height: 45px;
    border: none;
    background: #f2f2f2;
    padding: 0 25px;
    border-radius: 10px;
    box-sizing: border-box;
}
.app .login-container .forgot-password{
    width: 100%;
    text-align: right;
    padding-bottom: 20px;
}
.app .login-container .forgot-password label{
    cursor: pointer;
    font-weight: 600;
}
.app .login-container button{
    border: none;
    height: 40px;
    background: #1c1c1e;
    color: white;
    border-radius: 10px;
}
.app .login-container button:hover{
    cursor: pointer;
    background: black;
}